p{
  padding-bottom: 100px;
}
.gallery {
  display: flex;
   flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
padding-left: 156px;
}
.gallery img {
  width: 360px;
  display: block;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}