.styled-input {
  width: 360px;
  padding: 12px 16px;
  border: 1px solid #8a8a8a;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
margin-left: 20px; 
margin-top: 24x;
}



h1 {
  margin-top: 20px;
 font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #2e2f42;
  margin-left: 20px;
}